body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 450px;
    height: 900px;
    border: solid #e4002b 5px;
    border-radius: 20px;
    background-color: black;
}

.rtl {
    text-align: right;
    color: white;
}

.button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.button-row {
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.output-container {
    height: 40%;
}

.output-field, .output-field-result {
    border: none;
    margin: 15px;
    height: auto;
    width: 90%;
    font-size: 50px;
    overflow: hidden;
    resize: none;
    background-color: black;
}

.button-container {
    height: 60%;
}

